snippet "not?e?" "Insert a NOTE comment" r
NOTE: $0 - Alexandru Dreptu (`!v strftime("%d %b %Y")`)
endsnippet

snippet todo "Insert a TODO comment"
TODO: $0 - Alexandru Dreptu (`!v strftime("%d %b %Y")`)
endsnippet

snippet "fix" "Insert a FIXME comment" r
FIXME: $0 - Alexandru Dreptu (`!v strftime("%d %b %Y")`)
endsnippet

snippet "bug" "Insert a BUG comment" r
BUG: $0 - Alexandru Dreptu (`!v strftime("%d %b %Y")`)
endsnippet
