snippet "not?e?" "Insert a NOTE comment" r
NOTE: `echo $USER` - ${1:what?} - `!v strftime("%d %b %Y")`
endsnippet

snippet todo "Insert a TODO comment"
TODO: `echo $USER` - ${1:what?} - `!v strftime("%d %b %Y")`
endsnippet

snippet "fix" "Insert a FIXME comment" r
FIXME: `echo $USER` - ${1:what?} - `!v strftime("%d %b %Y")`
endsnippet
