snippet inc "Include a header file"
#include <$0
endsnippet

snippet Inc "Include a local header file"
#include "$0
endsnippet

snippet def "create a define"
#define $0
endsnippet

snippet main "generic main()"
int main(int argc, char *argv[]) {
	$0
}
endsnippet

snippet com "insert a /* */ comment"
/* $0 */
endsnippet

snippet unsi
unsigned int $0
endsnippet
