snippet sh
#!/usr/bin/env node
$0
endsnippet

snippet strict
"use strict";
$0
endsnippet

snippet com
/* $0 */
endsnippet

snippet fn
function $0
endsnippet

snippet fng
function* $0
endsnippet

snippet jss
/* jshint ignore:start */
endsnippet

snippet jse
/* jshint ignore:end */
endsnippet

snippet req
require("$0");
endsnippet
