snippet sh "Add shebang" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-
$0
endsnippet

snippet im "Import a module" b
import $0
endsnippet

snippet doc "Insert doc string"
""" $0 """
endsnippet

snippet main "Insert a main function" b
if __name__ == '__main__':
	$0
endsnippet
