snippet sh "Add shebang" b
#!/usr/bin/env python
# -*- coding: utf-8 -*-
endsnippet

snippet im "Import a module" b
import $0
endsnippet

snippet doc "Insert doc string"
""" $0 """
endsnippet

snippet Main "Insert a main function" b
def main():
	$0

if __name__ == "__main__":
	main()
endsnippet
